.inside{
    margin-top: 30px;
    width: 700px;
}

.location{
    display: flex;
    justify-content: space-around;
}

.location-link{
    list-style-type: none;
}

.article{
    width: 920px; 
    align-items: center;
}