h1{
    text-align: center;
}

h4{
    text-align: center;
    font-size: 2.25rem;
}


.final{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.other-photos{
    height: 200px;
    width: auto;
}

.secondary{
    width: 300px;
    height: auto;
}

.digital-images{
    width: 600px;
    height: auto;
}

.horizontal{
    width: 690px;
    height: auto;
}

.plain{
    width: 500px;
    height: auto;
}

.normal{
    display:flex;
    text-align: center;
    padding-right: 40px;
}

.special{
    display: flex; 
    flex-direction: row-reverse;
}

.current{
    background-color:rgb(218, 160, 109);
}

.first{
    font-size: 200%;
    text-align: center;
    padding-top: 150px;
    padding-right: 20px;
}

.specific{
    margin-right: 20px;
}

.bolder{
    font-size: 3rem;
}

.refinement{
    display: flex;
    align-content: center;
    height: auto;
    width: 700px;
    padding-left: 280px;
}

.bottom{
    padding-bottom: 100px;
}