h1 {
    text-align: center;
    font-size: 3rem;
}

.wrapper{
    margin-bottom: 20px;
}

.digital{
    background-image: url("images/Digital.png");
    background-repeat: no-repeat;
    background-size: 500px;
    width: 500px;
    height: 500px;
    text-align: center;
}

.sketch{
    background-image: url("images/IMG_2883\ \(1\).jpeg");
    background-repeat: no-repeat;
    background-size: 570px;
    width: 500px;
    height: 500px;
    text-align: center;
    margin-left: 50px;
}

.logos{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.sketch-div{
    display: none;
}

.sketch:hover .sketch-div{
    display: block;
    padding: 225px;
}

.digital-div{
    display: none;
}

.digital:hover .digital-div{
    display: block;
    padding: 215px;
}

.digital a{
    text-decoration: none;
    color: rgb(197, 0, 0);
    font-size: 3rem;
}

.sketch a{
    text-decoration: none;
    color: rgb(197, 0, 0);
    font-size: 3rem;
}

.sketch:hover{
    background-color:white;
    opacity: 70%;
}

.digital:hover{
    background-color:white;
    opacity: 70%;
}

.current{
    background-color:rgb(218, 160, 109);
}