.current{
    background-color:rgb(218, 160, 109);
}

h1{
    font-size: 2.5rem;
}

img{
    width: 400px;
    height: auto;
}

.mock{
    display: flex;
    justify-content: space-between; 
}

.main-mock{
    text-align: center;
    padding-left: 80px;
    padding-bottom: 70px;
    padding-top: 20px;
}