html, body{
    margin: 0;
    padding: 0;
    font-family: "fabiola-capitals", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.home{
    list-style-type: none;
    margin: 0;
}
.header {
    background-color: rgb(136, 0,0);
    margin: 0 auto;
}

.img{
    width: 250px;
}

.wrapper{
    display: flex;
}

.header-wrapper{
    padding: 20px;
}

.nav{
    list-style-type: none;
}

.footer{
    background-color: rgb(136, 0, 0);
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    padding: 40px;
}

.link{
    text-decoration: none;
    color: white;
}

.side-bar{
    width: 180px;
    margin: 0;
    padding-bottom: 20px;
    padding-top: 40px;
    padding-right: 100px;
}

.main-head{
    font-size: 30px;
    background-color: rgb(218, 195, 164);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 12px;
    margin-bottom: 30px;
    width: 100px;
}

.partial-link{
    font-size: 19.5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.partial{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.main-head:hover{
    background-color: rgb(218, 160, 109);
}

.partial-link:hover{
    color: rgb(218, 160, 109);
}

.logo{
    width: 850px;
    padding: 20px;
}

.article{
    font-size: 175%;
    text-align: center;
    margin-right: 70px;
    margin-bottom: 100px;
}

.section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

.section-link{
    background-color: rgb(197, 0, 0);
    color:white;
    padding: 20px;
    border-radius: 20px;
    text-decoration: none;
}

.section-link:hover{
    background-color:rgb(255, 0, 0);
    color: white;
}

.home-mockup{
    width: 800px;
    margin-top: 100px;
}